[package]
name = "yozuk"
version = "0.4.1"
edition = "2021"
authors = ["picoHz <picoHz@outlook.com>"]
description = "Assistant Bot for Programmers"
keywords = ["yozuk"]
categories = ["text-processing"]
repository = "https://github.com/yozuk/yozuk"
homepage = "https://yozuk.com"
documentation = "https://docs.rs/yozuk"
license = "MIT"
readme = "../README.md"

[dependencies]
anyhow = "1.0.56"
bincode = "1.3.3"
bytes = "1.1.0"
const-sha1 = "0.2.0"
crfs = "0.2.0"
crfsuite = { version = "0.3.1", optional = true }
getrandom = { version = "0.2.5", features = ["js"] }
distance = "0.4.0"
nanoid = "0.4.0"
num_cpus = "1.13.1"
punycode = "0.4.1"
rayon = "1.5.1"
serde = "1.0.136"
serde_derive = "1.0.136"
serde_json = "1.0.79"
shell-words = "1.1.0"
slog = "2.7.0"
sloggers = "2.1.1"
thiserror = "1.0.30"
mediatype = "0.19.1"
yozuk-sdk = "0.1.0"
yozuk-helper-english = "0.1.0"
yozuk-core-skillset = "0.4.2"

[features]
default = [
    "default-skills"
]
modelgen = ["crfsuite"]
default-skills = [
    "yozuk-skill-mediatype", 
    "yozuk-skill-version",
    "yozuk-skill-base64",
    "yozuk-skill-english", 
    "yozuk-skill-smalltalk",
    "yozuk-skill-numeric", 
    "yozuk-skill-calc",
    "yozuk-skill-uuid",
    "yozuk-skill-lipsum",
    "yozuk-skill-nanoid",
    "yozuk-skill-punycode",
    "yozuk-skill-dice",
    "yozuk-skill-digest"
]
yozuk-skill-mediatype = ["yozuk-core-skillset/yozuk-skill-mediatype"]
yozuk-skill-version = ["yozuk-core-skillset/yozuk-skill-version"]
yozuk-skill-base64 = ["yozuk-core-skillset/yozuk-skill-base64"]
yozuk-skill-english = ["yozuk-core-skillset/yozuk-skill-english"]
yozuk-skill-numeric = ["yozuk-core-skillset/yozuk-skill-numeric"]
yozuk-skill-calc = ["yozuk-core-skillset/yozuk-skill-calc"]
yozuk-skill-uuid = ["yozuk-core-skillset/yozuk-skill-uuid"]
yozuk-skill-lipsum = ["yozuk-core-skillset/yozuk-skill-lipsum"]
yozuk-skill-nanoid = ["yozuk-core-skillset/yozuk-skill-nanoid"]
yozuk-skill-punycode = ["yozuk-core-skillset/yozuk-skill-punycode"]
yozuk-skill-dice = ["yozuk-core-skillset/yozuk-skill-dice"]
yozuk-skill-digest = ["yozuk-core-skillset/yozuk-skill-digest"]
yozuk-skill-smalltalk = ["yozuk-core-skillset/yozuk-skill-smalltalk"]

[dev-dependencies]
lazy_static = "1.4.0"
